//Navigation



//------------------------------------
// Hiraku.js
//------------------------------------
$animation : 0.5s ease-in-out;
.js-hiraku-offcanvas-body {
	transition: transform $animation;
}

.js-hiraku-offcanvas {
	transition: opacity $animation;
}


//Off Canvas Menu
.offcanvas-nav{
	ul{
		display: flex;
		flex-direction: column;
		padding: 5%;
		li{
			padding: 1.5rem 0;
		}
	}
}
//Navi Button
.js-offcanvas-btn{
	z-index: 1000;
	position: fixed;
	right: 15px;
	top:15px;
	background: #FFF;
	display: block;
	@media #{$bp-pc} {
		display: none;

	}

}

.hiraku-open-btn-line{
	background: #000;
	margin:22px 0;
	width: 36px;
	&:before,&:after{
		background: #000;
	}
	&:before{
		top:-12px;
	}
	&:after{
		bottom:-12px;
	}
}

[aria-expanded="true"] .hiraku-open-btn-line:before,
[aria-expanded="true"] .hiraku-open-btn-line:after {
	width: 38px;
}

[aria-expanded="true"] .hiraku-open-btn-line:before{
	top:-6px;
}

[aria-expanded="true"] .hiraku-open-btn-line:after {
	bottom:-6px;
}

